<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!-- Request -->
		<add key="requestEndpoint" value="http://mamaepresentes.zanthusonline.com.br/manager/" />
		<add key="requestMethod" value="manager_integracao.php5?wsdl=" />
		<add key="requestXMLFileName" value="merc_search_request.xml" />
		<add key="requestXMLFilePath" value="C:\Users\Daniel\source\repos\ZanthusXMLConverter\ZanthusXMLConverter\Requests\" />
		<!-- Response -->
		<add key="responseXMLFileName" value="merc_search_response.xml" />
		<add key="responseXMLFilePath" value="C:\Users\Daniel\source\repos\ZanthusXMLConverter\ZanthusXMLConverter\Responses\" />
		<!-- Keys -->
		<add key="startKey" value="Y" />
		<add key="endKey" value="Escape" />
	</appSettings>
</configuration>