<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!-- General -->
		<!-- Data Schemas -->
		<add key="FileDataSchemaPath" value="C:\Users\Daniel\source\repos\ZanthusXMLConverter\ZanthusXMLConverter\Files\Data Schemas\" />
		<!-- Requests -->
		<add key="RequestEndpoint" value="http://mamaepresentes.zanthusonline.com.br/manager/" />
		<add key="RequestMethod" value="manager_integracao.php5?wsdl=" />
		<add key="RequestFilePath" value="C:\Users\Daniel\source\repos\ZanthusXMLConverter\ZanthusXMLConverter\Files\Requests\" />
		<!-- Responses -->
		<add key="ResponseFilePath" value="C:\Users\Daniel\source\repos\ZanthusXMLConverter\ZanthusXMLConverter\Files\Responses\" />

		<!-- Merchandise -->
		<!-- Folder -->
		<add key="MerchandiseFileFolder" value="Merchandise\" />
		<!-- Data Schemas -->
		<add key="MerchandiseSearchFileDataSchemaName" value="merc_search_schema.xsd" />
		<!-- Requests -->
		<add key="MerchandiseSearchRequestFileName" value="merc_search_request.xml" />
		<!-- Responses -->
		<add key="MerchandiseSearchResponseFileName" value="merc_search_response.xml" />
		<!-- Tags -->
		<add key="MerchandiseFileBodyTag" value="MERCADORIAS" />
		<add key="MerchandiseFileItemTag" value="MERCADORIA" />
		<add key="StoreIDTag" value="COD_LOJA" />
		<add key="MercIDTag" value="COD_MERCADORIA" />
		<add key="DescriptionTag" value="DESCRICAO" />
		<add key="PISTaxStatusTag" value="COD_SIT_TRIB_PIS" />
		<add key="PISAliquotTag" value="ALIQUOTA_PIS" />
		<add key="PISSubstPercTag" value="PERC_SUBST_PIS" />
		<add key="PISReducPercTag" value="PERC_REDUZ_B_CALCULO_PIS" />
		<add key="COFINSTaxStatusTag" value="COD_SIT_TRIB_COFINS" />
		<add key="COFINSAliquotTag" value="ALIQUOTA_COFINS" />
		<add key="COFINSSubstPercTag" value="PERC_SUBST_COFINS" />
		<add key="COFINSReducPercTag" value="PERC_REDUZ_B_CALCULO_COFINS" />
		<add key="AccountingCostTag" value="CUSTO_CONTABIL" />
		<add key="InactiveFlagTag" value="FLGINATIVO" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>