<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!-- Request -->
		<add key="requestEndpoint" value="http://mamaepresentes.zanthusonline.com.br/manager/" />
		<add key="requestMethod" value="manager_integracao.php5?wsdl=" />
		<add key="requestFilePath" value="C:\Users\Daniel\source\repos\ZanthusXMLConverter\ZanthusXMLConverter\Requests\" />
		<add key="requestFileName" value="merc_search_request.xml" />
		<!-- Response -->
		<add key="responseBodyTag" value="ZMI" />
		<add key="responseXMLFilePath" value="C:\Users\Daniel\source\repos\ZanthusXMLConverter\ZanthusXMLConverter\Responses\" />
		<add key="responseXMLFileName" value="merc_search_response.xml" />
		<!-- Objects Attributes -->
		<!-- Merchandise -->
		<add key="Merchandise" value="MERCADORIA" />
		<add key="MerchandiseFileBodyTag" value="MERCADORIAS" />
		<add key="StoreID" value="COD_LOJA" />
		<add key="MercID" value="COD_MERCADORIA" />
		<add key="Description" value="DESCRICAO" />
		<add key="PISTaxStatus" value="COD_SIT_TRIB_PIS" />
		<add key="PISAliquot" value="ALIQUOTA_PIS" />
		<add key="PISSubstPerc" value="PERC_SUBST_PIS" />
		<add key="PISReducPerc" value="PERC_REDUZ_B_CALCULO_PIS" />
		<add key="COFINSTaxStatus" value="COD_SIT_TRIB_COFINS" />
		<add key="COFINSAliquot" value="ALIQUOTA_COFINS" />
		<add key="COFINSSubstPerc" value="PERC_SUBST_COFINS" />
		<add key="COFINSReducPerc" value="PERC_REDUZ_B_CALCULO_COFINS" />
		<add key="AccountingCost" value="CUSTO_CONTABIL" />
		<add key="InactiveFlag" value="FLGINATIVO" />
		<!-- Keys -->
		<add key="startKey" value="Y" />
		<add key="endKey" value="Escape" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>